<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>My Website</title>
		<link href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../viewEntry.css">
		<link rel="stylesheet" href="../style.css">
	</head>

	<header>
		<a href="/"><button type="button" id="mainBtn" class="navBtn btn btn-outline-secondary btn-sm">Main Page</button></a>
		<a href="/home"><button type="button" id="homeBtn" class="navBtn btn btn-outline-secondary btn-sm">Home Page</button></a>
	</header>
	
	<body>
		<div class ="journal container">
			<div class="header row">
				<h3 contenteditable="true" id="title"><%= entry.title %></h3>
				<h6><%= entry.date.toDateString() %></h6>
			</div>
			<div class="entry row">
				<p contenteditable="true" id="text"><%= entry.text %></p>
			</div>
			<button type="button" id="saveBtn" class="navBtn btn btn-outline-secondary btn-sm" onclick="saveEntry('<%= entry.id %>')">Save</button>
			<a href="/journal/<%= entry.id %>"><button type="button" id="cancelBtn" class="navBtn btn btn-outline-secondary btn-sm">Cancel</button></a>
		</div> <!-- journal -->

		<script src="../js/editEntry.js"></script>
	</body>
</html>